{% extends "back/base.html" %}
{% block content%}
     <div class="container-fluid">
    <!-- 修改密码 -->
    <div class="body">
        <div class="repass">
            <form id="pwd_form" action="/cms/api/admin/reset_pwd" method="post" class="form-horizontal col-md-offset-2">
                <div class="form-group">
                    <label for="old_pwd" class="col-md-3 control-label">原密码</label>
                    <div class="col-md-4">
                        <input id="old_pwd" name="old_pwd" type="password" class="form-control input-sm" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new_pwd" class="col-md-3 control-label">新密码</label>
                    <div class="col-md-4">
                        <input id="new_pwd" name="new_pwd" type="password" class="form-control input-sm" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="con_pwd" class="col-md-3 control-label">确认密码</label>
                    <div class="col-md-4">
                        <input id="con_pwd" name="con_pwd" type="password" class="form-control input-sm" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-7 text-right">
                        <a class="btn btn-success btn-warning" href="/back"  >返 回</a>
                        <input type="submit" class="btn btn-success btn-danger" value="修 改" style="margin-left: 15px !important;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
   <script>
       $(function () {
           $('#pwd_form').submit(function () {
               // 1. 前端校验
               let new_pwd = $('#new_pwd').val().trim();
               let old_pwd = $('#old_pwd').val().trim();
               let con_pwd = $('#con_pwd').val().trim();
               if(new_pwd !== con_pwd){
                   alert('两次输入密码不一致!');
                   return false;
               }
               // 2. 取出token
               let token = localStorage.getItem('yq_token');
               // 3. 发起请求
               $.ajax({
                  url: $(this).attr('action'),
                  type: $(this).attr('method'),
                  data: `token=${token}&old_pwd=${old_pwd}&new_pwd=${new_pwd}`,
                  success: function (result) {
                      if(result.status === 1){
                          alert(result.msg);
                          window.location.href = '/back';
                      }else {
                          alert(result.msg);
                      }
                  }
               });
               return false;
           });
       });
   </script>
{% endblock%}
